@model IEnumerable<ConceptEditViewModel>
@{
    ViewBag.Title = "viewAllConcept";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 1;
}

<h2>Danh sách đồ vật</h2>
<a href="@Url.Action("createObject", "Object")" class="btn btn-success">Tạo mới đồ vật</a>
<br /><br />
<table class="table table-striped">
    <thead>
        <tr>
            <td>No.</td>
            <td>Image</td>
            <td>Tên</td>
            <td>Chú thích</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in this.Model)
        {
            <tr>
                <td>@i</td>
                <td><img src="@items.ConceptPicture" style="max-width: 100px"/></td>
                <td>@items.ConceptName</td>
                <td>@items.ConceptDescription</td>
                <td><a href="@Url.Action("editConcept", new { conceptID = items.ConceptId })" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a></td>
            </tr>
            i++;
        }
    </tbody>
</table>
