@model IEnumerable<PersonEditViewModel>


@{
    ViewBag.Title = "Index";
    int personCount = ViewBag.personCount;
    var i = 1;
}

<h1 class="page-header">Danh sách <a href="@Url.Action("NewPerson","Face")" class="btn btn-success pull-right"><i class="glyphicon glyphicon-plus"></i>Thêm mới</a></h1>
@*<h1 class="page-header">Danh sách <a href="#" onclick="checkQuota()"; return false;" class="btn btn-success pull-right"><i class="glyphicon glyphicon-plus"></i>Thêm mới</a></h1>*@

<table id="myTable" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No</th>
            <th>Ảnh đại diện</th>
            <th>Tên</th>
            <th>Thông tin</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td> @i</td>
                <td>
                    @if (item.PersonAvatar != null)
                    {
                        <img src="@item.PersonAvatar" style="max-width:100px" />
                    }
                    else
                    {
                        <img src="~/Content/icon/icon-user-default.png" style="max-width:100px" />
                    }
                </td>
                <td> @item.Name</td>
                <td> @item.Description</td>
                <td>
                    <a href="@Url.Action("UpdatePerson","Face",new { id = item.PersonId})" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a onclick="DeletePerson('@item.PersonId');" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"> </i> </a>
                </td>
            </tr>

            i++;
        }

    </tbody>
</table>

@section scripts{
    <script>

        function checkQuota() {
            if ("@ViewBag.IsOver" != "") {
                swal({

                    title: "Lỗi",
                    text: "Đã quá giới hạn. Vui lòng nâng cấp tài khoản!",
                    type: 'error',
                    allowOutsideClick: false,
                    showCancelButton: true,
                    confirmButtonText: "Quay về trang quản lý"
                }).then(
                    function () {
                        window.location.href = "@Url.Action("Index", "Face")";
                    }
                );
            }
        }

        $(function () {
            checkQuota();
            $('#myTable').DataTable();
        });

        function DeletePerson(i) {
            swal({
                title: 'Bạn có chắc chắn xóa?',
                text: "",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Có',
                cancelButtonText: 'Không'

            }).then(function () {
                $('.loader').show();
                $('.dim-background').show();

                $.ajax({
                    url: "@Url.Action("DeletePerson", "Face")",
                    type: 'POST',
                    data: { id: i },

                    success: function (data) {
                        $('.loader').hide();
                        $('.dim-background').hide();
                        if (data.success) {
                            swal({
                                text: data.message,
                                type: 'success',
                            }).then(function () {
                                window.location.href = "@Url.Action("Index", "Face")";
                            })
                        } else {
                            swal({
                                title: data.message,
                                type: 'error',
                                showCancelButton: true,
                                cancelButtonText: 'Ok'
                            });
                        }
                    },
                    error: function (error) {
                        $('.loader').hide();
                        $('.dim-background').hide();
                        swal({
                            title: "Đã có lỗi xảy ra, vui lòng thử lại sau.",
                            type: 'error',
                            showCancelButton: true,
                            cancelButtonText: 'Ok'
                        });
                    }
                });
            })
        }
    </script>

}

