@model PersonEditViewModel
@{
    ViewBag.Title = "Tạo mới";
}

<h1 class="page-header">Thêm người mới</h1>

<style>
    .progress {
        background-color: #242424 !important;
    }

    .dz-max-files-reached {
        background-color: red;
    }
</style>

<div class="panel-body">
    @using (Html.BeginForm("NewPerson", "Face", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-6">
            <div class="form-group">
                <label>Tên</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Tên" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Thông tin</label>
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = "Thông tin" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm  mới" onclick="$('.progress-striped').show();" class="btn btn-primary" />
            </div>
            <div class="progress progress-striped active form-group" style="display:none">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Hình ảnh</label>
                <input type="file" name="file" id="file" style="width: 100%; visibility:hidden" multiple />


                @if (Model.LogImage != null)
                {
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <div class="form-group">
                            @Html.HiddenFor(q => q.LogImage)
                            @Html.HiddenFor(q => q.LogID)
                            <img class="img-responsive" src="@Model.LogImage" alt="" />
                        </div>
                    </div>
                }

                <div class="row">
                    <div id="imagePreview">
                    </div>
                </div>

                <div class="col-md-4" style="vertical-align:middle; text-align:center">
                    <button type="button" class="btn btn-default btn-circle btn-xl" onclick="AddImage()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    }


</div>

@section scripts{
    <script src="/signalr/hubs"></script>
    <script>
        $(document).ready(function () {
            var progressNotifier = $.connection.progressHub;

            // client-side sendMessage function that will be called from the server-side
            progressNotifier.client.sendMessage = function (message, percent) {
                // update progress
                UpdateProgress(message, percent);
                //alert(message);
            };

            // establish the connection to the server and start server-side operation
            $.connection.hub.start().done(function () {
                // call the method CallLongOperation defined in the Hub
                progressNotifier.server.getCountAndMessage();
            });
        });

        // Update the progress bar
        function UpdateProgress(message, percent) {
            var progressBar = $(".progress-bar");
            progressBar.html(message);
            progressBar.attr("style", "width:" + percent + "%");
        }


        function AddImage() {
            $('#file').trigger('click');

            $('#file').change(function () {
                var fileList = this.files;
                for (var i = 0; i < fileList.length; i++) {
                    //get a blob
                    var t = window.URL || window.webkitURL;
                    var objectUrl = t.createObjectURL(fileList[i]);
                    $('#imagePreview').append('<div class="col-md-4"><div class="thumbnail" style="width: 135px;height: 140px;overflow: hidden;"><img src="' + objectUrl + '" style="width:100%"/></div></div>');
        
                }
            })
        }

    </script>
}
