@model BigViewModel
@{
    ViewBag.Title = "addNewConcept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Tạo mới đồ vật</h2>
<div class="panel-body">
    <div class="col-md-4">
        <div class="form-group">
            <label>Tên Đồ Vật</label>
            <input type="text" name="conceptName" id="conceptName" class="form-control" placeholder="Nhập tên đồ vật!">
        </div>
        <div class="form-group">
            <label>Mô Tả Đồ Vật</label>
            <textarea name="conceptDes" id="conceptDes" class="form-control" rows="4" cols="50" placeholder="Nhập mô tả đồ vật!"></textarea>
        </div>
        <div class="form-group">
            <a href="@Url.Action("Index", "Object")" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Quay Lại</a>
            <button type="button" onclick="AddConcept(@this.Model.LogId)" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Tạo Mới</button>
        </div>
    </div>
    <div class="col-md-6">
        <label>Hình Ảnh</label>
        @if (Model.ImageURL != null)
            {
            @Html.HiddenFor(q => q.ImageURL)
            @Html.HiddenFor(q => q.LogId)
            <div class="form-group">
                <img src="@Model.ImageURL" style="max-width: 150px" />
            </div>

        }
    </div>
</div>
@section scripts{
    <script>
        function AddConcept(id) {
            swal({
                title: 'Bạn có chắc chắn tạo mới?',
                text: "",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Có',
                cancelButtonText: 'Không'

            }).then(function () {
                var name = document.getElementById("conceptName").value;
                var des = document.getElementById("conceptDes").value;
                $('.loader').show();
                $('.dim-background').show();
                $.ajax({
                    method: 'POST',
                    url: "@Url.Action("addImageNewConcept", "Object")",
                    data:
                        {
                            logId: id,
                            conceptName: name,
                            conceptDes: des
                        },
                    success: function (result) {
                        $('.loader').hide();
                        $('.dim-background').hide();
                        if (result.success) {
                            swal({
                                text: result.message,
                                type: 'success',
                            }).then(function () {
                                location.href = "@Url.Action("Index", "Object")";
                            });
                        } else {
                            $('.loader').hide();
                            $('.dim-background').hide();
                            swal({
                                text: result.message,
                                type: 'error',
                            });
                        }
                    },
                    error: function (error) {
                        $('.loader').hide();
                        $('.dim-background').hide();
                        swal({
                            text: "Đã có lỗi xảy ra!",
                            type: 'error',
                        });
                    }
                });
            })
        }
    </script>
}
